:root{
  --order-completed-bg: #28a746a5;
  --order-inprogress-bg: #fff;
  --order-deny-bg: #ffe11f98;
}

.o-cmpl-bg{
  background-color: var(--order-completed-bg) !important;
}

.o-inpg-bg{
  background-color: var(--order-inprogress-bg) !important;
}

.o-deny-bg{
  background-color: var(--order-deny-bg) !important;
}

/*colors*/
.green {
  color: green !important;
}
.red {
  color: red !important;
}
.orange {
  color: orange !important;
}

.fa {
  min-width: 1.0em;
  color: rgba(0, 0, 0, .325);
}

.form-control {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  margin-bottom: 1.0em;
}

.modal-small {
  max-width: 336px;
}

.close {
  color: #ff1a1a;
  font-size: 40px;
  margin-right: 5px;
}

.small-img {
  height: auto;
  width: 140px;
}

.breadcrumb {
  background-color: #b8daff;
  padding: unset;
  padding-left: 16px;
}

.icon-sm {
  width: 32px;
  height: 32px;
  padding-right: 2px;
}

.icon-md {
  width: 64px;
  height: 64px;
  padding-right: 2px;
}

.cart-buy{
  height: 32px;
  background: #28a745;
  padding: 2px 6px;
  border-radius: 8px;
  fill: red;
}
.cart-buy:hover{
  background: #555551;
}

.cart-buy > svg{
  height: 30px !important;
  fill:white;
}
.poiter {
  cursor: pointer;
}


.card-columns {
  column-count: 2;

  @include media-breakpoint-only(lg) {
    column-count: 2;
  }

  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}



/* ***************************************card icon *******************************************/

.order {
  cursor: pointer;
  display: inline-block;
}

.order>span {
  color: red;
  text-align: left;
  position: relative;
  left: -10px;
  top: -4px;
}

.order>img {
  width: 32px;
  height: 32px;
}

/* ***************************************filters*******************************************/

.searchWithCategory {
  max-width: 300px;
}

.searchWithCategory input {
  max-width: 169px;
}

.searchWithCategory select {
  max-width: 169px;
  min-height: 38px;
}

.pagitation {
  min-width: 150px;
}

select {
  min-height: 38px !important;
}

/* *************************************** podglad *******************************************/

.thumbnail {
  position: relative;
  z-index: 0;
}

.thumbnail:hover {
  background-color: transparent;
  z-index: 50;
}

.thumbnail span {
  /*CSS for enlarged image*/
  position: absolute;
  background-color: lightyellow;
  padding: 5px;
  /*left: -1000px;*/
  border: 1px dashed gray;
  visibility: hidden;
  color: black;
  text-decoration: none;
}

.thumbnail span img {
  /*CSS for enlarged image*/
  border-width: 0;
  padding: 2px;
}

.thumbnail:hover span {
  /*CSS for enlarged image on hover*/
  visibility: visible;
  top: 0;
  right: 60px;
  /*position where enlarged image should offset horizontally */

}

/* *************************************** popup *******************************************/


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* *************************************** charts ******************************************
* charts
*/

.chartBox{
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 42vw;
  height: auto;
  float: left;
  margin: 5px 2px;
  padding: 0 5px; 
  border-radius: 10px
} 

@media screen and (max-width: 767px) and (max-width: 991px) {
  .chartBox {
    width: 98vw !important;
    /* min-width: 700px;
    min-height: 329px; */
  }

}

.customChart{
  /* max-width:800px !important;  */
  /* max-width:90vw !important; 
  margin: 0px auto !important; */
}


/* ************************************** tabs ->admin panel ********************************************/

.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button:hover {
  background: #e0e0e0;
}
.tab-button.active {
  background: #44adc0;
}
.tab {
  border: 1px solid #ccc;
  padding: 10px;
}



/* ************************************** product list type grid/list *****************************************/
.btn-list{
  background-color: white; 
  fill: rgb(0, 174, 255);
  max-width: 40px;
  padding: unset;
}

.btn-list-svg{
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  color: inherit;
  line-height: 0;
  box-sizing: border-box;
}

.card-columns-grid {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.grid-list{
  display: flex;
  align-items: center;
  width:14rem !important; 
  min-width: 14rem !important; 
  max-width: 14rem !important;
  margin-bottom: 10px !important;
  padding: 5px !important;
}

.grid-list> div{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  vertical-align: baseline;
}
.grid-list> div>span{
  align-self: center;
}

/* ************************************** payments *****************************************/

.btn-payU, .btn-payU:hover {
  border: 0px;
  height: 50px;
  width: 290px;
  background: url('http://static.payu.com/pl/standard/partners/buttons/payu_account_button_long_03.png') no-repeat;
  cursor: pointer;
}
